/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2015, 4:31:40 PM
    Author     : Adam
*/


body{
    background-color: rgb(255,255,133);
    overflow-x: hidden;
}


header{
    left: 0;
    font-family: Georgia, sans;
    font-size: 16px;
    background-color: rgb(255,235,0);
    width: 100%;
    
}

section{
  margin: 10px;
  text-align: center;
}

section img{
   max-height: 500px;
   max-width: 500px;
}



footer{
   background-color: rgb(255,235,0);
   padding: 5px;
   width: 100%;
   bottom: 0;
   margin: 0 auto;
   display: block;
   position: absolute;
  
}

footer h3{
    text-align: center;
    font-family: Georgia, sans;
    font-size: 16px;
}

#controls img{
    height: 15px;
    width: 15px;
}

#controls{
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}











